{% extends "base.html" %}


{% block content %}

{% if provider %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table cellspacing="10" cellpadding="3" border="1">
<tr><td colspan = "2" align = "center" bgcolor="#800000"><span style="font-size: larger; color: lightyellow; ">Primary Care Provider Detail Record</span></td></tr>
 <tr class="{% cycle 'row1' 'row2' as rowcolors %}">
 <td width="30%">Internal ID</td><td>{{provider.provider_id_num}}</td></tr>
 
 <tr class="{% cycle rowcolors %}">
 <td width="30%">First_Name</td><td>{{provider.first_name}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">Last_Name</td><td>{{provider.last_name}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">Tel:</td><td>{{provider.telephone}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">Primary_Department</td><td>{{provider.dept}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">Primary_Department Address 1</td><td>{{provider.dept_address_1}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">Primary_Department Address 2</td><td>{{provider.dept_address_2}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">City</td><td>{{provider.dept_city}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">State</td><td>{{provider.dept_state}}</td></tr>

 <tr class="{% cycle rowcolors %}">
 <td width="30%">Zip</td><td>{{provider.dept_zip}}</td></tr>

</table>

{% else %}
    <p>No provider record available.</p>
{% endif %}
{% endblock %}
