{% extends "vaers.html" %}
{% block content %}
{% if message %}<div class="warning">{{message}}</div>{% endif %}

<span>{{native_vaccine.native_name}}</span>
<form method="post" action="{% url 'vaers:vaccine:vaccine_detail' native_vaccine.native_code %}">
  {{ form.as_p }}
  <button>Save</button>
  {% csrf_token %}
</form>
{% endblock %}

